ProgettoETI.vcxproj.filters
ProgettoETI.vcxproj.user
ProgettoETI.vcxproj
/Debug
matlab/*.txt
matlab/*.fig
matlab/*.pdf
*.win
*.o

Progetto1\.exe

\.DS_Store

json/spallagomitoModello60fps\.json

Progetto/Progetto\.xcodeproj/project\.pbxproj

Progetto/Progetto\.xcodeproj/xcuserdata/sergiopovoli\.xcuserdatad/xcschemes/xcschememanagement\.plist

Progetto/Progetto\.xcodeproj/project\.xcworkspace/xcuserdata/sergiopovoli\.xcuserdatad/UserInterfaceState\.xcuserstate

Progetto/Progetto\.xcodeproj/project\.xcworkspace/xcshareddata/IDEWorkspaceChecks\.plist

Progetto/Progetto\.xcodeproj/project\.xcworkspace/contents\.xcworkspacedata
